.LogInPage {
  height: 100%;
  display: flex;
  flex-direction: column;
};

.center-in-flex-parent-LogInPage {
  align-self: center;
  margin: auto;
};

.form-LogInPage {
  @extend .center-in-flex-parent-LogInPage;
  background-color: white;
  padding: 10px;
  width: fit-content;
};

.fieldset-LogInPage {
  padding: 0 20px 20px 20px;
  margin-bottom: 10px;
  border: 1px solid red;
};

.legend-LogInPage {
  color: red;
  font-weight: bold;
};

.label-LogInPage {
  margin-top: 10px;
};

.input-LogInPage {
  padding:3px;
  border:1px solid black;
  margin-top: 10px;
  margin-left: 5px;
  width: 200px;
};
