.Table-DetailsTable {
  width: fit-content;
  border-collapse: collapse;
  margin: 25px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
};

.title-DetailsTable {
  text-align: left;
};

.title-DetailsTable,
.element-DetailsTable {
  padding: 12px 15px;
};

.line-DetailsTable {
  border-bottom: 1px solid #dddddd;
};

.line-DetailsTable:last-of-type {
  border-bottom: 2px solid black;
};
